<!-- <div class="profile clearfix">
  <img src="http://placehold.it/400x400&text=you" class="couple">
  <img src="http://placehold.it/200x200&text=people">
  <img src="http://placehold.it/200x200&text=people">
  <img src="http://placehold.it/200x200&text=people">
  <img src="http://placehold.it/200x200&text=people">
  <img src="http://placehold.it/200x200&text=people">
</div> -->


<div id="profile menu">

  <a id="centerbutton" href=""><img src="http://placehold.it/250x250&text=you"></a>

  <ul class="circles">
    <li><a href="" title=""><img src="http://placehold.it/100x100&text=people"></a></li>
    <li><a href="" title=""><img src="http://placehold.it/100x100&text=people"></a></li>
    <li><a href="" title=""><img src="http://placehold.it/100x100&text=people"></a></li>
    <li><a href="" title=""><img src="http://placehold.it/100x100&text=people"></a></li>
    <li><a href="" title=""><img src="http://placehold.it/100x100&text=people"></a></li>
    <li><a href="" title=""><img src="http://placehold.it/100x100&text=people"></a></li>
  </ul>

</div><!--End Menu-->