<h2>The way couples connect with other couples</h2>
<div class="splash">
  <%= form_tag(questions_path) do  %>
    <div>
      <%= label_tag :email do %>
        <%= text_field_tag :email, nil, autofocus: true, placeholder: "Enter your email to get started!" %>
      <% end %>
      <%= submit_tag 'Go!', :class => "button" %>
    </div>
  <% end %>  
</div>
