<div class="thanks">
  <h2>Checkout what we have been up too!</h2>
  <iframe width="853" height="480" src="http://www.youtube.com/embed/Ggw5RUE5CR8" frameborder="2"></iframe>
  <p>Stay tuned for updates!</p>
  <span>Follow us on:<span><h5><%= link_to 'Twitter', 'http://twitter.com/cupplehub' %><h5>
</div>