// Place all the styles related to the Front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


section#intro {
  background: url("cupplebackground.jpg") no-repeat center center fixed,
  url("cupplewhitelogo.png");
  background-size: 50px,cover;
  -webkit-background-size: 50px,cover;
  -moz-background-size: 50px,cover;
  -o-background-size: 50px,cover;
  div.icon {
    width: 150px;
  }
}