// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div {
  text-align: center;
  ul {
    list-style: none;
    li {
      margin: 5px;
      display: inline-block;
    }
  }
}