// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// questions page
@import url(http://fonts.googleapis.com/css?family=Varela);

body {
  font-family: 'Varela', sans-serif;
  /*img.minilogo{
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
  }*/
}

div.questions {
  text-align: center;
  ul {
    list-style: none;
    li {
      margin: 5px;
      display: inline-block;
    }
  }
}



// Splash page

body.splash {
  background: url('cupple_hub.svg')no-repeat 30px center fixed,
              url('cupplebackground.jpg')no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: white;
  h2 {
    position: fixed;
    top: 65%;
    left: 25%;
  }
  div.splash {
    top: 80%;
    left: 50%;
    position: fixed;
    margin-left: -150px;
    margin-top: -40px;
    form {
      div {
        // position: absolute;
        // top: 650px;
        // left: 550px;
        label {
          width: auto;
          height: auto;
          display: inline-block;
          input {
            border-radius: 0;
            background: none;
            border: 2px solid white;
            height: 35px;
            text-align: center;
            color: darken(white, 20%);
          }
        }
        input.button {
          height: 45px;
          width: 75px;
          border: 0;
          margin-bottom: 10px; 
          display: inline-block;
          background-color: #ffeea0;
        }
      }
    }
  }
}


// Profile page

body {
  background: url('matchbackground.jpg')no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #f7f7f7;
}

div.info {
  width: 30%;
  height: 500px;
  background: rgba(255,255,255,.3);
  padding: 10px;
  margin-top: 100px;
  div.loadin {
    div {
      text-align: center;
      h2 {
        font-size: 60px;
        line-height: 1em;
      }
    }
    p {
      font-size: 1.5em;
      line-height: 4em;
    }
    a {
      text-align: center;
      margin-top: 160px; 
      float: right;
      display: block;
      list-style: none;
      color: white;
      width: 150px;
      padding: 10px;
      background: #403956;
      &:hover {
        text-decoration: none;
      }
    }
  }
  h4 {
    font-size: 40px;
    line-height: 1em;
  }
}

#centerbutton {
  display: block;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  background: rgb(213,46,23); /* Old browsers */
  background: -webkit-linear-gradient(top, rgba(213,46,23,1) 50%, rgba(230,79,49,1) 50%);
  background: -moz-linear-gradient(top, rgba(213,46,23,1) 50%, rgba(230,79,49,1) 50%);
  background: -o-linear-gradient(top, rgba(213,46,23,1) 50%, rgba(230,79,49,1) 50%);
  background: -ms-linear-gradient(top, rgba(213,46,23,1) 50%, rgba(230,79,49,1) 50%);
  background: linear-gradient(top, rgba(213,46,23,1) 50%, rgba(230,79,49,1) 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d52e17', endColorstr='#e64f31',GradientType=0 ); /* IE6-9 */
  position: absolute;
  top: 50%;
  left: 70%;
  margin-left: -125px;
  margin-top: -125px;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 56px;
  font-size: 63px;
  font-weight: bold;
  z-index: 100;
  border: 4px solid white;

  -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,.3);
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,.3);

  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  
}
@-moz-document url-prefix() {
    #centerbutton  {
        line-height:65px;
    }
}
// #centerbutton.centerbuttonon {
//   -webkit-transform: rotate(-45deg);
//   -moz-transform: rotate(-45deg);
//   -o-transform: rotate(-45deg);
//   -ms-transform: rotate(-45deg);
//   transform: rotate(-45deg); /* Safari and Chrome */
// }

#centerbutton:active {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/***** MENU CIRCLES ******/
.circles {
  position: absolute;
  top: 50%;
  left: 70%;
  margin-top: -208px;
  margin-left: -47px;
}

.circles li a.out:hover {
  -webkit-transform: scale(1.5) rotate(0deg);
  -moz-transform: scale(1.5) rotate(0deg);
  -o-transform: scale(1.5) rotate(0deg);
  -ms-transform: scale(1.5) rotate(0deg);
  transform: scale(1.5) rotate(0deg);
}

.circles li {
  position: absolute;
  width: 100px;
  height: 200px;
  display: inline-block;

  -webkit-transform-origin: 40px 200px;
  -moz-transform-origin: 40px 200px;
  -o-transform-origin: 40px 200px;
  -ms-transform-origin: 40px 200px;
  transform-origin: 40px 200px;
  position: absolute;
}

.circles li a {
  background-color: #44403d;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: block;
  position: absolute;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: white;
  // line-height: 50px;
  text-align: center;
  bottom: -30px;
  border: 4px solid white;
}

.circles li a.out {
  bottom: 175px;

  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);

  -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,.3);
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,.3);
}

.circles li:nth-child(1) {
  position: absolute;
  top: 0px;
  left: 0px;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.circles li:nth-child(2) {
  position: absolute;
  top: 0px;
  left: 0px;

  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.circles li:nth-child(3) {
  position: absolute;
  top: 0px;
  left: 0px;

  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.circles li:nth-child(4) {
  position: absolute;
  top: 0px;
  left: 0px;

  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.circles li:nth-child(5) {
  position: absolute;
  top: 0px;
  left: 0px;

  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.circles li:nth-child(6) {
  position: absolute;
  top: 0px;
  left: 0px;

  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
/***** Add a marginal delay to each circle ******/
.circles li:nth-child(1) a {
  -webkit-transition-delay: .30s;
  -moz-transition-delay: .30s;
  -o-transition-delay: .30s;
  -ms-transition-delay: .30s;
  transition-delay: .30s;
}

.circles li:nth-child(2) a {
  -webkit-transition-delay: .25s;
  -moz-transition-delay: .25s;
  -o-transition-delay: .25s;
  -ms-transition-delay: .25s;
  transition-delay: .25s;
  img {
    -webkit-transform: rotate(-60deg) scale(1.5,1.5);
    -moz-transform: rotate(-60deg) scale(1.5,1.5);
    -o-transform: rotate(-60deg) scale(1.5,1.5);
    -ms-transform: rotate(-60deg) scale(1.5,1.5);
    transform: rotate(-60deg) scale(1.5,1.5);
  }
}

.circles li:nth-child(3) a {
  -webkit-transition-delay: .20s;
  -moz-transition-delay: .20s;
  -o-transition-delay: .20s;
  -ms-transition-delay: .20s;
  transition-delay: .20s;
  img {
    -webkit-transform: rotate(-120deg);
    -moz-transform: rotate(-120deg);
    -o-transform: rotate(-120deg);
    -ms-transform: rotate(-120deg);
    transform: rotate(-120deg);
  }
}

.circles li:nth-child(4) a {
  -webkit-transition-delay: .15s;
  -moz-transition-delay: .15s;
  -o-transition-delay: .15s;
  -ms-transition-delay: .15s;
  transition-delay: .15s;
  img {
    position: relative;
    top: 20px;
    -webkit-transform: rotate(-180deg) scale(1.3,1.3);
    -moz-transform: rotate(-180deg) scale(1.3,1.3);
    -o-transform: rotate(-180deg) scale(1.3,1.3);
    -ms-transform: rotate(-180deg) scale(1.3,1.3);
    transform: rotate(-180deg) scale(1.3,1.3);
  }
}

.circles li:nth-child(5) a {
  -webkit-transition-delay: .10s;
  -moz-transition-delay: .10s;
  -o-transition-delay: .10s;
  -ms-transition-delay: .10s;
  transition-delay: .10s;
  img {
    -webkit-transform: rotate(-240deg);
    -moz-transform: rotate(-240deg);
    -o-transform: rotate(-240deg);
    -ms-transform: rotate(-240deg);
    transform: rotate(-240deg);
  }
}

.circles li:nth-child(6) a {
  -webkit-transition-delay: .05s;
  -moz-transition-delay: .05s;
  -o-transition-delay: .05s;
  -ms-transition-delay: .05s;
  transition-delay: .05s;
  img {
    -webkit-transform: rotate(-300deg);
    -moz-transform: rotate(-300deg);
    -o-transform: rotate(-300deg);
    -ms-transform: rotate(-300deg);
    transform: rotate(-300deg);
  }
}

