// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div.search-filter-select {
  margin: 0 auto;
}


div.wrap {
  text-align: center;
  div.activity {
    display: inline-block;
    background: lighten(rgb(0,0,0), 35%);
    margin: 15px;
  }
}