
<!DOCTYPE html>
<html>
<head>
          <!-- Analytical Init: Optimizely -->
          <script type="text/javascript">document.write(unescape("%3Cscript src='"+document.location.protocol+"//cdn.optimizely.com/js/32932945.js' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
<meta charset='utf-8' />
<meta content='width=1024' name='viewport' />
<title>ZOZI</title>
<link href="http://www.zozi.com/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
<link href="http://www.zozi.com/assets/jquery.jscrollpane-fb7757f1312b1ee5bb1fbb1451070151.css" media="all" rel="stylesheet" type="text/css" />
<link href="http://www.zozi.com/assets/jquery.c2selectbox-769789536ee2273d72036a7fcaf78083.css" media="all" rel="stylesheet" type="text/css" />
<link href="http://www.zozi.com/assets/application-1e887f8e8e299f80219c8f47d0f3233e.css" media="all" rel="stylesheet" type="text/css" />
<script src="http://www.zozi.com/assets/jquery-1.8.2.min-b120b4b0ab848c06160759dc61e19db2.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery_ujs-5b100e31737b2d16237624210982f2e8.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery.carouFredSel-6.1.0-packed-8e3b3cf75cd2a36bcee1e9de59dbaf55.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery.cookie-41ac6492e32084f285544559b16c2c53.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery.zoom-387bda738a920e5a0278aeaab7315264.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery.mousewheel-64fc3d302154df12b653c10f73707ccc.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery.jscrollpane.min-e327f117dca45582b9aa727794e0406f.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery.c2selectbox-3fb3d869e8f173f2108a1dcd3321a0c2.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery.columnizer-760b8c9f4a2ccc139c98ec8fca813327.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/functions-a1b60c8991125cc5f22f53ba1ee1220e.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery-ui-1.9.1.custom.min-3b4d99c2cf5b5494fd932f72d94de10a.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery.hoverIntent.r6-5c3318f3b48e5b9a39cb015ff93a0a77.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/rebranding_application-8777af5ce88eb7dfdecb5ade6be09d73.js" type="text/javascript"></script>
<meta content="authenticity_token" name="csrf-param" />
<meta content="Zp8DejNOP+SQ86oEJhyZDKsG29xJLtERuOtV9j+xRbw=" name="csrf-token" />
<!--[if lt IE 8]> <link rel="stylesheet" type="text/css" href="/assets/ie.css" media="screen"/> <![endif]-->
<!--[if lt IE 9]> <script src="/assets/html5shiv.js"></script> <![endif]-->
<meta content='lAzTRQ7Crh9lx_MbOAs1KPZMCIkPoO1nP0Q0L2tPXeA' name='google-site-verification' />
<script src="http://www.zozi.com/assets/underscore-min-62643c6d284c5f4f7d5b17318fe942b7.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/search_filter-fb7fd41050d2401dd5bb0d12ff9b824b.js" type="text/javascript"></script>

          <!-- Analytical Init: Google -->
          <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-6849684-2']);
            _gaq.push(['_setDomainName', '']);
            
            _gaq.push(['_trackPageview']);
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              // ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              // SWITCHING SCRIPT SRC TO ALLOW REMARKETING VIA ADWORDS
              ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
          </script>

<script type="text/javascript">
var Analytical = {
  track: function(page) {
if(typeof(console) !== 'undefined' && console != null) { 
        console.log("Analytical Track: "+page);
 }
_gaq.push(['_trackPageview', page]);
  },
  event: function(name, data) {
    if (typeof data === 'undefined') { data = {}; }
if(typeof(console) !== 'undefined' && console != null) { 
        console.log("Analytical Event: "+name);
        console.log(data);
 }
_gaq.push(['_trackEvent', "Event", name]);
  }
};
</script>

</head>
<body class='application-index'>

<script>
  var bucket_list_deal_ids = [];
</script>

<div id='wrapper'>

<div class='relative-flash'>

</div>


<div class='search_full_content filters-holder' id='main'>
<section class='section1' id='section1'>
<div class='section1-holder'>
<div class='section1-frame'>
<div class='section1-frame2'>
<header class='main-heading'>
<div class='heading-holder'></div>
</header>
<form accept-charset="UTF-8" action="/gifts" id="gift-filters" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
<div class='search-filter-select'>
<label for='product_line'>Product</label>
<select id="product_line" name="product_line"><option value="all">All</option>
<option value="local">Local</option>
<option value="getaway">Getaway</option>
<option value="gear">Gear</option></select>
</div>
<div class='search-filter-select search-filter-select-category' id='city_select'>
<label for='city'>City</label>
<select id="city" name="city"><option value="5">Atlanta</option>
<option value="7">Austin</option>
<option value="13">Boston</option>
<option value="16">Chicago</option>
<option value="10">Dallas</option>
<option value="6">Denver</option>
<option value="26">Houston</option>
<option value="69">Inland Empire</option>
<option value="30">Las Vegas</option>
<option value="3">Los Angeles</option>
<option value="34">Miami</option>
<option value="4" selected="selected">New York</option>
<option value="9">Orange County</option>
<option value="44">Philadelphia</option>
<option value="47">Portland</option>
<option value="8">San Diego</option>
<option value="1">San Francisco</option>
<option value="2">San Jose</option>
<option value="54">Seattle</option>
<option value="59">Vancouver</option>
<option value="61">Washington, DC</option></select>
</div>
<div class='search-filter-select search-filter-select-category' id='brand_select'>
<label for='brand'>Brand</label>
<select id="brand" name="brand"><option value=" ">All</option></select>
</div>
<div class='search-filter-select search-filter-select-category' id='region_select'>
<label for='region'>Region</label>
<select id="region" name="region"><option value=" ">All</option></select>
</div>
<div class='search-filter-select' id='interest_select'>
<label for='interest'>Interest</label>
<select id="interest" name="interest"><option value=" ">All</option>
<option value="active">Active (50)</option>
<option value="chill">Chill (35)</option>
<option value="eat-&amp;-drink">Eat &amp; Drink (10)</option>
<option value="fit">Fit (7)</option>
<option value="learn">Learn (15)</option>
<option value="romance">Romance (18)</option>
<option value="thrill">Thrill (13)</option></select>
</div>
<div class='search-filter-select search-filter-select-category' id='activity_select'>
<label for='activity'>Activity</label>
<select id="activity" name="activity"><option value=" ">All</option></select>
</div>
<div class='search-filter-select'>
<label for='price'>Price Range</label>
<select id="price" name="price"><option value="0">All</option>
<option value="1">&lt; $50 (346)</option>
<option value="2">$50-99 (173)</option>
<option value="3">$100-149 (22)</option>
<option value="4">$150-249 (14)</option>
<option value="5">$250-499 (18)</option>
<option value="6">$500-1000 (9)</option>
<option value="7">&gt; $1000 (14)</option></select>
</div>
<input id="price_min" name="price_min" type="hidden" />
<input id="price_max" name="price_max" type="hidden" />
</form>


<div class='main-deals'>
<div class='container'>
<div class='grid1'>
<article class='active add block fit offer-snippet offer-snippet-three_col_1x1' data-target='/local/new-york/6142'>
<a href="/local/new-york/6142" class="offer-snippet-img"><img alt="1_w" src="http://assets1.zozi.com/paperclip/deals/6142/widescreen_photos/77184/three_col_1x1/1_w.jpg?1371595574" />
<div></div>
</a><div class='area'>
<h3 class='offer-snippet-title'>
<a href="/local/new-york/6142">Two Personal Training Sessions</a>
</h3>
<div class='price'>
<div class='holder'>
<div class='frame'>
<span class='old'>$</span>
<strong class='old'>80</strong>
<span class='new'>$</span>
<strong class='new'>39</strong>
</div>
</div>
</div>
<div class='info'>
<div class='holder'>
<div class='frame'>
<span class='icn_local'>New York, NY</span>
</div>
</div>
</div>
</div>
<div class='offer-snippet-actions'>
<div class='bucket-list-btn' data-deal-id='6142'>
<a href="/bucket_list?deal_id=6142" class="bucket add-to-bucket-list" data-in_list_text="In your Bucket List" data-method="post" data-remote="true" rel="nofollow"><span></span>
Add to Bucket List
</a></div>

</div>
<strong class="deal-badge-mark deal-badge-mark-blue">new</strong>
</article>

<article class='active add block offer-snippet offer-snippet-three_col_1x1 romance' data-target='/local/new-york/6065'>
<a href="/local/new-york/6065" class="offer-snippet-img"><img alt="1_w" src="http://assets3.zozi.com/paperclip/deals/6065/widescreen_photos/75845/three_col_1x1/1_w.jpg?1370898885" />
<div></div>
</a><div class='area'>
<h3 class='offer-snippet-title'>
<a href="/local/new-york/6065">NYC Bike Rental </a>
</h3>
<div class='price'>
<div class='holder'>
<div class='frame'>
<span class='old'>$</span>
<strong class='old'>40</strong>
<span class='new'>$</span>
<strong class='new'>19</strong>
</div>
</div>
</div>
<div class='info'>
<div class='holder'>
<div class='frame'>
<span class='icn_local'>New York, NY</span>
</div>
</div>
</div>
</div>
<div class='offer-snippet-actions'>
<div class='bucket-list-btn' data-deal-id='6065'>
<a href="/bucket_list?deal_id=6065" class="bucket add-to-bucket-list" data-in_list_text="In your Bucket List" data-method="post" data-remote="true" rel="nofollow"><span></span>
Add to Bucket List
</a></div>

</div>
<strong class="deal-badge-mark deal-badge-mark-blue">new</strong>
</article>

</div>
<div class='grid2 last'>
<article class='add block chill learn offer-snippet offer-snippet-three_col_2x2' data-target='/local/new-york/5998'>
<a href="/local/new-york/5998" class="offer-snippet-img"><img alt="1_f" src="http://assets3.zozi.com/paperclip/deals/5998/fullscreen_photos/75812/three_col_2x2/1_f.jpg?1370886130" />
<div></div>
</a><div class='area'>
<h3 class='offer-snippet-title'>
<a href="/local/new-york/5998">Balance in Design - Feng Shui Class</a>
</h3>
<div class='price'>
<div class='holder'>
<div class='frame'>
<span class='old'>$</span>
<strong class='old'>60</strong>
<span class='new'>$</span>
<strong class='new'>39</strong>
</div>
</div>
</div>
<div class='info'>
<div class='holder'>
<div class='frame'>
<span class='icn_local'>New York, NY</span>
</div>
</div>
</div>
</div>
<div class='offer-snippet-actions'>
<div class='bucket-list-btn' data-deal-id='5998'>
<a href="/bucket_list?deal_id=5998" class="bucket add-to-bucket-list" data-in_list_text="In your Bucket List" data-method="post" data-remote="true" rel="nofollow"><span></span>
Add to Bucket List
</a></div>

</div>
<strong class="deal-badge-mark deal-badge-mark-orange">sale</strong>
</article>

</div>
</div>

<div class='container'>
<div class='grid1'>
<article class='active add block fit offer-snippet offer-snippet-three_col_1x1' data-target='/local/new-york/5996'>
<a href="/local/new-york/5996" class="offer-snippet-img"><img alt="1_w" src="http://assets4.zozi.com/paperclip/deals/5996/widescreen_photos/75245/three_col_1x1/1_w.jpg?1370546017" />
<div></div>
</a><div class='area'>
<h3 class='offer-snippet-title'>
<a href="/local/new-york/5996">Five or Ten Kickboxing Classes</a>
</h3>
<div class='price'>
<div class='holder'>
<div class='frame'>
<span class='old'>$</span>
<strong class='old'>100</strong>
<span class='new'>$</span>
<strong class='new'>20</strong>
</div>
</div>
</div>
<div class='info'>
<div class='holder'>
<div class='frame'>
<span class='icn_local'>Oceanside, NY</span>
</div>
</div>
</div>
</div>
<div class='offer-snippet-actions'>
<div class='bucket-list-btn' data-deal-id='5996'>
<a href="/bucket_list?deal_id=5996" class="bucket add-to-bucket-list" data-in_list_text="In your Bucket List" data-method="post" data-remote="true" rel="nofollow"><span></span>
Add to Bucket List
</a></div>

</div>
<strong class="deal-badge-mark deal-badge-mark-orange">sale</strong>
</article>

</div>
<div class='grid1'>
<article class='add block chill offer-snippet offer-snippet-three_col_1x1 romance' data-target='/getaways/northern-california-getaway/6086'>
<a href="/getaways/northern-california-getaway/6086" class="offer-snippet-img"><img alt="1_w" src="http://assets1.zozi.com/paperclip/deals/6086/widescreen_photos/76075/three_col_1x1/1_w.jpg?1371059398" />
<div></div>
</a><div class='area'>
<h3 class='offer-snippet-title'>
<a href="/getaways/northern-california-getaway/6086">Mendocino Luxury Summer Escape</a>
</h3>
<div class='price'>
<div class='holder'>
<div class='frame'>
<span class='old'>$</span>
<strong class='old'>430</strong>
<span class='new'>$</span>
<strong class='new'>169</strong>
</div>
</div>
</div>
<div class='info'>
<div class='holder'>
<div class='frame'>
<span class='icn_getaways'>Mendocino Coast, USA</span>
</div>
</div>
</div>
</div>
<div class='offer-snippet-actions'>
<div class='bucket-list-btn' data-deal-id='6086'>
<a href="/bucket_list?deal_id=6086" class="bucket add-to-bucket-list" data-in_list_text="In your Bucket List" data-method="post" data-remote="true" rel="nofollow"><span></span>
Add to Bucket List
</a></div>

</div>
<strong class="deal-badge-mark deal-badge-mark-blue">new</strong>
</article>

</div>
<div class='grid1 last'>
<article class='add block chill eat-drink learn offer-snippet offer-snippet-three_col_1x1' data-target='/getaways/la-dolce-vita-four-day-all-inclusive-culinary-retreat-on-the-adriatic-coast-chill-eat-drink-learn/6087'>
<a href="/getaways/la-dolce-vita-four-day-all-inclusive-culinary-retreat-on-the-adriatic-coast-chill-eat-drink-learn/6087" class="offer-snippet-img"><img alt="9_w" src="http://assets2.zozi.com/paperclip/deals/6087/widescreen_photos/76086/three_col_1x1/9_w.jpg?1371062875" />
<div></div>
</a><div class='area'>
<h3 class='offer-snippet-title'>
<a href="/getaways/la-dolce-vita-four-day-all-inclusive-culinary-retreat-on-the-adriatic-coast-chill-eat-drink-learn/6087">Italian Culinary Retreat &amp; Workshop</a>
</h3>
<div class='price'>
<div class='holder'>
<div class='frame'>
<span class='old'>$</span>
<strong class='old'>1,300</strong>
<span class='new'>$</span>
<strong class='new'>650</strong>
</div>
</div>
</div>
<div class='info'>
<div class='holder'>
<div class='frame'>
<span class='icn_getaways'>Rimini, Italy</span>
</div>
</div>
</div>
</div>
<div class='offer-snippet-actions'>
<div class='bucket-list-btn' data-deal-id='6087'>
<a href="/bucket_list?deal_id=6087" class="bucket add-to-bucket-list" data-in_list_text="In your Bucket List" data-method="post" data-remote="true" rel="nofollow"><span></span>
Add to Bucket List
</a></div>

</div>
<strong class="deal-badge-mark deal-badge-mark-blue">new</strong>
</article>

</div>
</div>


</div>


</div>
</div>
</div>
</section>


</div>
<section class='section3'>
<article class='information'>
<h1>DON’T JUST TAKE OUR WORD FOR IT...</h1>
<ul class='list-logo'>
<li>
<a href='javascript:;' title='USA Today'>
<img alt="USA Today" height="48" src="http://www.zozi.com/assets/partner-logo2-b77c2f4e695f5f4d9c04204d2a30eed9.gif" width="68" />
</a>
<div class='drop'>
<p>“Experiences from ZOZI...give you stories to tell for the rest of your life.”</p>
</div>
<span class='arrow'></span>
</li>
<li>
<a href='javascript:;' title='The Huffington Post'>
<img alt="The Huffington Post" height="43" src="http://www.zozi.com/assets/partner-logo3-5f6e12e77a210f92ceb3e8a012164d67.gif" width="120" />
</a>
<div class='drop'>
<p>“ZOZI...promises adventures of a lifetime.”</p>
</div>
<span class='arrow'></span>
</li>
<li>
<a href='javascript:;' title='Entrepreneur Magazine'>
<img alt="Entrepreneur Magazine" height="26" src="http://www.zozi.com/assets/partner-logo4-250fbf2786dfe4b0b96f7523d9153282.gif" width="130" />
</a>
<div class='drop'>
<p>“ZOZI is one of the 100 Most Brilliant Companies of 2012.”</p>
<p>“ZOZI is pioneering the future of travel and entertainment.”</p>
</div>
<span class='arrow'></span>
</li>
<li>
<a href='javascript:;' title='Outside Magazine'>
<img alt="Outside Magazine" height="40" src="http://www.zozi.com/assets/partner-logo5-54e7a17495dc2121497e8cfd461db41f.gif" width="109" />
</a>
<div class='drop right'>
<p>“Best Places to Work, 2011 &amp; 2012”</p>
</div>
<span class='arrow'></span>
</li>
<li>
<a href='javascript:;' title='San Francisco Business Times'>
<img alt="San Francisco Business Times" height="48" src="http://www.zozi.com/assets/endorsement_logos/biz_times-1e335b1e721a63a106e3123affe40af7.png" width="72" />
</a>
<div class='drop right'>
<p>“ZOZI is taking off.”</p>
</div>
<span class='arrow'></span>
</li>
<li>
<a href='javascript:;' title='7x7.com'>
<img alt="7x7.com" height="48" src="http://www.zozi.com/assets/endorsement_logos/7_by_7-32dc4c9ce73c3a2ebdf99a198e5f7b05.png" width="48" />
</a>
<div class='drop right'>
<p>“15 Startups Poised to Make Waves in 2012”</p>
</div>
<span class='arrow'></span>
</li>
</ul>
</article>
</section>


<section class='footer-pop-up hidden' data-current-promotion-end-date='2014-06-18 23:59:59 -0700' data-pop-ups='[7]'>
<div class='footer-pop-up-content'></div>
<a class='footer-pop-up-close' href='javascript:'></a>
<a class='footer-pop-up-ignore' href='javascript:'>Don't show me again</a>
</section>
<footer id='footer'><div class='footer-frame'>
<div class='row'>
<div class='social-networks'>
<strong class='title'>Follow us</strong>
<ul>
<li><a href="http://www.facebook.com/heyzozi" class="facebook" target="_blank">Facebook</a></li>
<li><a href="http://twitter.com/#!/zozi" class="twitter" target="_blank">Twitter</a></li>
<li><a href="http://pinterest.com/teamzozi/" class="pinterest" target="_blank">Pinterest</a></li>
</ul>
</div>
<nav class='footer-nav'>
<ul>
<li><a href="/about">About</a></li>
<li><a href="/partners">Partners</a></li>
<li><a href="/press">Press</a></li>
<li><a href="/careers">Careers</a></li>
<li><a href="http://blog.zozi.com">Blog</a></li>
<li><a href="/faq">FAQ</a></li>
<li><a href="http://zozi.zendesk.com">Help</a></li>
<li><a href="/merchant">Merchant Portal</a></li>
</ul>
</nav>
</div>
<ul class='list'>
<li>Copyright &copy; 2013 zozi. All Rights Reserved.</li>
<li><a href="/terms_of_use">Terms of Use</a></li>
<li><a href="/terms_of_sale">Terms of Sale</a></li>
<li><a href="/privacy_policy">Privacy Policy</a></li>
</ul>
</div>
</footer>
</div>

<script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {
NREUMQ.push(["load",new Date().getTime()]);
var e=document.createElement("script");
e.type="text/javascript";
e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" +
  "rpm-images.newrelic.com/42/eum/rum.js";
document.body.appendChild(e);
if(NREUMQ.a)NREUMQ.a();
};
NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
NREUMQ.push(["nrfj","beacon-1.newrelic.com","2df65b88b6",161122,"J11XEBRcDllcEBldURZZXBAVHAtbXQdO",0,322,new Date().getTime(),"","","","",""]);</script>
          <!-- Analytical Init: Console -->
          <script type="text/javascript">
            if(typeof(console) !== 'undefined' && console != null) {
              console.log('Analytical Init: Console');
            }
          </script>
          <!-- Analytical Init: CrazyEgg -->
          <script type="text/javascript" src="http://s3.amazonaws.com/new.cetrk.com/pages/scripts/0011/9007.js"> </script>
          <!-- Analytical Init: Adroll -->
          <script type="text/javascript">
          adroll_adv_id = "CMQCUALCXZATRGQKEKFO6J";
          adroll_pix_id = "G35M3PX4B5C35BXGYKI7JY";
          (function () {
          var oldonload = window.onload;
          window.onload = function(){
             __adroll_loaded=true;
             var scr = document.createElement("script");
             var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
             scr.setAttribute('async', 'true');
             scr.type = "text/javascript";
             scr.src = host + "/j/roundtrip.js";
             document.documentElement.firstChild.appendChild(scr);
             if(oldonload){oldonload()}};
          }());
          </script>

<!-- / GOOGLE ADWORDS GOOD TO GO -->

<!-- myThings tracking -->
<script type='text/javascript'>
  //<![CDATA[
    function _mt_ready(){
       if (typeof(MyThings) != "undefined") {
           MyThings.Track({
               EventType: MyThings.Event.Visit,
                   Action: "300"
           });
       }
    }
    var mtHost = (("https:" == document.location.protocol) ? "https" : "http") + "://rainbow-us.mythings.com";
    var mtAdvertiserToken = "2348-100-us";
    document.write(unescape("%3Cscript src='" + mtHost + "/c.aspx?atok="+mtAdvertiserToken+"' type='text/javascript'%3E%3C/script%3E"));
  //]]>
</script>



<script type='text/javascript'>
  //<![CDATA[
    $(function() {
      $('.more-deals').addClass('search-end');
      $.SearchFilter.init('all', '.search_full_content', '.main-deals, .section2');
    
    });
  //]]>
</script>

</body>
</html>

