
<!DOCTYPE html>
<html>
<head>
          <!-- Analytical Init: Optimizely -->
          <script type="text/javascript">document.write(unescape("%3Cscript src='"+document.location.protocol+"//cdn.optimizely.com/js/32932945.js' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
<meta charset='utf-8' />
<meta content='width=1024' name='viewport' />
<title>CuppleHub</title>
<link href="http://www.zozi.com/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
<link href="http://www.zozi.com/assets/jquery.jscrollpane-fb7757f1312b1ee5bb1fbb1451070151.css" media="all" rel="stylesheet" type="text/css" />
<link href="http://www.zozi.com/assets/jquery.c2selectbox-769789536ee2273d72036a7fcaf78083.css" media="all" rel="stylesheet" type="text/css" />
<link href="http://www.zozi.com/assets/application-1e887f8e8e299f80219c8f47d0f3233e.css" media="all" rel="stylesheet" type="text/css" />
<script src="http://www.zozi.com/assets/jquery-1.8.2.min-b120b4b0ab848c06160759dc61e19db2.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery_ujs-5b100e31737b2d16237624210982f2e8.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery.carouFredSel-6.1.0-packed-8e3b3cf75cd2a36bcee1e9de59dbaf55.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery.cookie-41ac6492e32084f285544559b16c2c53.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery.zoom-387bda738a920e5a0278aeaab7315264.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery.mousewheel-64fc3d302154df12b653c10f73707ccc.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery.jscrollpane.min-e327f117dca45582b9aa727794e0406f.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery.c2selectbox-3fb3d869e8f173f2108a1dcd3321a0c2.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery.columnizer-760b8c9f4a2ccc139c98ec8fca813327.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/functions-a1b60c8991125cc5f22f53ba1ee1220e.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery-ui-1.9.1.custom.min-3b4d99c2cf5b5494fd932f72d94de10a.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/jquery.hoverIntent.r6-5c3318f3b48e5b9a39cb015ff93a0a77.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/rebranding_application-8777af5ce88eb7dfdecb5ade6be09d73.js" type="text/javascript"></script>
<meta content="authenticity_token" name="csrf-param" />
<meta content="Zp8DejNOP+SQ86oEJhyZDKsG29xJLtERuOtV9j+xRbw=" name="csrf-token" />
<!--[if lt IE 8]> <link rel="stylesheet" type="text/css" href="/assets/ie.css" media="screen"/> <![endif]-->
<!--[if lt IE 9]> <script src="/assets/html5shiv.js"></script> <![endif]-->
<meta content='lAzTRQ7Crh9lx_MbOAs1KPZMCIkPoO1nP0Q0L2tPXeA' name='google-site-verification' />
<script src="http://www.zozi.com/assets/underscore-min-62643c6d284c5f4f7d5b17318fe942b7.js" type="text/javascript"></script>
<script src="http://www.zozi.com/assets/search_filter-fb7fd41050d2401dd5bb0d12ff9b824b.js" type="text/javascript"></script>

          <!-- Analytical Init: Google -->
          <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-6849684-2']);
            _gaq.push(['_setDomainName', '']);
            
            _gaq.push(['_trackPageview']);
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              // ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              // SWITCHING SCRIPT SRC TO ALLOW REMARKETING VIA ADWORDS
              ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
          </script>

<script type="text/javascript">
var Analytical = {
  track: function(page) {
if(typeof(console) !== 'undefined' && console != null) { 
        console.log("Analytical Track: "+page);
 }
_gaq.push(['_trackPageview', page]);
  },
  event: function(name, data) {
    if (typeof data === 'undefined') { data = {}; }
if(typeof(console) !== 'undefined' && console != null) { 
        console.log("Analytical Event: "+name);
        console.log(data);
 }
_gaq.push(['_trackEvent', "Event", name]);
  }
};
</script>
  <style type="text/css">
    background: url('matchbackground.jpg')no-repeat center center fixed !important;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  </style>
</head>
<body class=''>

<script>
  var bucket_list_deal_ids = [];
</script>

<div id='wrapper'>

<form accept-charset="UTF-8" action="/gifts" id="gift-filters" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>

<div class='search-filter-select search-filter-select-category' id='brand_select'>
<label for='brand'>Brand</label>
<select id="brand" name="brand"><option value=" ">All</option></select>
</div>
<div class='search-filter-select search-filter-select-category' id='region_select'>
<label for='region'>Region</label>
<select id="region" name="region"><option value=" ">All</option></select>
</div>
<div class='search-filter-select' id='interest_select'>
<label for='interest'>Interest</label>
<select id="interest" name="interest"><option value=" ">All</option>
<option value="active">Active (50)</option>
<option value="chill">Chill (35)</option>
<option value="eat-&amp;-drink">Eat &amp; Drink (10)</option>
<option value="fit">Fit (7)</option>
<option value="learn">Learn (15)</option>
<option value="romance">Romance (18)</option>
<option value="thrill">Thrill (13)</option></select>
</div>
<div class='search-filter-select search-filter-select-category' id='activity_select'>
<label for='activity'>Activity</label>
<select id="activity" name="activity"><option value=" ">All</option></select>
</div>
<div class='search-filter-select'>
<label for='price'>Price Range</label>
<select id="price" name="price"><option value="0">All</option>
<option value="1">&lt; $50 (346)</option>
<option value="2">$50-99 (173)</option>
<option value="3">$100-149 (22)</option>
<option value="4">$150-249 (14)</option>
<option value="5">$250-499 (18)</option>
<option value="6">$500-1000 (9)</option>
<option value="7">&gt; $1000 (14)</option></select>
</div>
<input id="price_min" name="price_min" type="hidden" />
<input id="price_max" name="price_max" type="hidden" />
</form>


<div class="wrap">
  <% 6.times do  %>
    <div class="activity">
      <%= image_tag 'http://placehold.it/300x150&text=activity' %>
      <h3></h3>
      <p></p>
      <h5>Price: $<%= rand(15..100) %></h5>
      <%= link_to 'Invite', '#' %>
    </div>
  <% end %>
</div>



</div>
<script type='text/javascript'>
  //<![CDATA[
    $(function() {
      $('.more-deals').addClass('search-end');
      $.SearchFilter.init('all', '.search_full_content', '.main-deals, .section2');
    
    });
  //]]>
</script>

</body>
</html>

