<header class="navbar-inverse navbar-fixed-top">
  <nav class="navbar-inner custom-navbar">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </nav>
</header>

</style>
